.header {
  color: white;
  background-image: linear-gradient(dimgrey, grey);
}

.header__gradient {
  height: 3vmin;
  background-image: linear-gradient(to right, aquamarine, mediumorchid);
}

.header__title {
  text-align: center;
  padding: 3vmin;
  font-size: 4.5vmin;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  text-shadow: .1vmin .1vmin .4vmin white ;
}
