.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(grey, dimgrey);
  height: 8vmin;
}

.footer__link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 3vmin;
  line-height: 1.2;
  padding: 1vmin;
}

.footer__link:hover {
  opacity: .6;
}
