.add-popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2vmin;
  padding: 0 5vmin;
  margin: auto;
  color: darkslategrey;
  box-shadow: 0 0 5vmin darkslategrey;
}

.add-popup__close-button {
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  background-image: url(../../assets/Close.svg);
  background-color: darkslategrey;
  background-size: cover;
  top: -5vmin;
  right: -5vmin;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 2.5vmin;
  transition: transform linear .1s;
}

.add-popup__close-button:hover {
  transform: scale(1.2, 1.2) rotate(45deg);
}

.add-popup__title {
  margin: 5vmin auto 4vmin;
  padding: 1vmin;
  font-size: 4vmin;
  line-height: 1.2;
  font-weight: 900;
  text-shadow: 0 0 .1vmin darkslategrey ;
}

.add-popup__form {
  display: flex;
  flex-direction: column;
}

.add-popup__section {
  margin-bottom: 4.5vmin;
}

.add-popup__input {
  font-size: 2vmin;
  line-height: 1.2;
  border: none;
  border-bottom: .2vmin solid darkslategrey;
  min-height: 4vmin;
  min-width: 100%;
  padding: 0;
  outline: none;
  text-shadow: 0 0 .1vmin darkslategrey ;
  color: darkslategrey;
}

.add-popup__input_invalid {
  border-left: 1vmin solid red;
}

.add-popup__input_valid {
  border-left: 1vmin solid green;
}

.add-popup__input-error {
  color: red;
  display: none;
  font-size: 1.8vmin;
  line-height: 1.2;
  text-align: center;
}

.add-popup__input-error_active {
  display: block;
}

.add-popup__save-button {
  background-color: darkslategrey;
  color: white;
  width: 50vmin;
  height: 7vmin;
  border: none;
  border-radius: .5vmin;
  font-weight: 700;
  font-size: 2.5vmin;
  line-height: 1.2;
  margin: 1.5vmin auto 6vmin;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: 0 0 .7vmin darkslategrey;
}

.add-popup__save-button:hover {
  opacity: 0.7;
}

.add-popup__save-button_disabled {
  animation: swing 1.4s ease;
}

.add-popup__transition {
  display: flex;
  transition: all 0.2s linear;
}

@keyframes swing {
  15% {
    transform: translateX(1.8vmin);
  }
  30% {
    transform: translateX(-1.8vmin);
  }
  40% {
    transform: translateX(.9vmin);
  }
  50% {
    transform: translateX(-.9vmin);
  }
  65% {
    transform: translateX(.4vmin);
  }
  100% {
    transform: translateX(0);
  }
}
