.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  color: white;
  max-width: 33vmin;
  box-shadow: 0 0 3vmin gray;
}

.card__image {
  width: 33vmin;
  height: 33vmin;
}

.card__container {
  display: flex;
  justify-content: space-between;
  height: 8vmin;
}

.card__title {
  margin: auto 0 auto 1vmin;
  padding: 1vmin;
  font-size: 3vmin;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0 0 .3vmin white ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 22vmin;
}

.card__like {
  width: 4vmin;
  height: 4vmin;
  background-image: url('../../assets/Favorite_off.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto 2vmin auto 0;
  cursor: pointer;
  transition: transform linear .1s;
}

.card__like:hover {
  transform: scale(1.15, 1.15);
}

.card__like_active {
  background-image: url('../../assets/Favorite.svg');
}
