.card {
  display: flex;
  flex-direction: column;
  background-color: #F2F5FA;
  color: #434652;
  height: 300px;
  border-radius: 8px;
}

.card__image {
  width: 320px;
  height: 188px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__text {
  margin-top: 16.5px;
  display: flex;
  flex-direction: column;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__icons {
  display: flex;
  align-items: center;
  height: 19px;
}

.card__title {
  margin: 0 20px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.card__icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../assets/Favorite_off.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: transform linear .1s;
  margin-left: 11px;

  &#edit {
    background-image: url('../../../assets/Edit.svg');
  }

  &#delete {
    margin-right: 27px;
    margin-left: 18px;
    background-image: url('../../../assets/Delete.svg');
  }

  &:hover {
    transform: scale(1.15, 1.15);
  }

  &_active {
    background-image: url('../../../assets/Favorite_on.svg');
  }
}


.card__description {
  color: #757986;
  margin: 15px 20px 32px;
  font-size: 14px;
  line-height: 16px;
}