.card {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  color: white;
  margin-bottom: 4vmin;
  max-height: 22vmin;
  box-shadow: 0 0 2vmin gray;
}

.card__image {
  width: 22vmin;
  height: 22vmin;
}

.card__text {
  margin: 2vmin auto 2vmin 2vmin;
}

.card__title {
  margin: 0;
  padding: 1vmin;
  font-size: 4vmin;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: .1vmin .1vmin .3vmin white ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  margin: 0;
  padding: .5vmin;
  font-size: 3vmin;
  line-height: 1.2;
  text-shadow: 0 0 .2vmin white ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-container {
  display: flex;
  align-items: center;
}

.card__like {
  width: 4vmin;
  height: 4vmin;
  background-image: url('../../assets/Favorite_off.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3vmin;
  cursor: pointer;
  transition: transform linear .1s;
}

.card__like:hover {
  transform: scale(1.15, 1.15);
}

.card__like_active {
  background-image: url('../../assets/Favorite.svg');
}
