.navigation {
  padding: 0 60px;
  color: #434652;
}

.navigation__buttons {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 16px;
}

.navigation__button {
  width: 69px;
  height: 36px;
  background-color: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 36px;
  color: #434652;
  border: 1px solid #C4C7D1;
  border-radius: 2px 0px 0px 2px;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: .7;
  }
}

.navigation__create-button {
  width: 96px;
  height: 36px;
  background-color: #21A5B9;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #21A5B9;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.navigation__button_active {
  background: linear-gradient(180deg, #F3F3F5 0%, #D8DAE0 100%);
}